<div class="card">
    <p-tabView  dir="rtl" >      
        <p-tabPanel  header="מערכת שיעורים">
           <app-lesson-system></app-lesson-system>
        </p-tabPanel>
        <p-tabPanel header="מנויים">
            <app-customer-sub-history></app-customer-sub-history>
         </p-tabPanel>
         <p-tabPanel header="עריכת פרטים">
            <app-editing-files></app-editing-files>
        </p-tabPanel>
        <p-tabPanel header="קופת חולים">
           <app-payments></app-payments>
        </p-tabPanel>
    </p-tabView>
</div>