<body dir="rtl" style="height: 340px;">
    <footer>
        <div class="footer-container">
            <div id="footer-sentence">
                <p id="sent">הבריאות שלך חשובה וגם האנרגיות, את חייבת את זה לעצמך!!!</p>
                <p id="call-us">התקשרי עכשיו <span class="nowrap">052-714-0619</span></p>
            </div>
        </div>
        <div id="button">
            <button id="big-button" [routerLink]="['/registration']">להרשמה</button>
            <button id="button-icon" [routerLink]="['/registration']"><img src="../../../assets/images/ArrowBlack.png" alt="Arrow"></button>
        </div>
    </footer>
    
</body>
