<div class="header">
    <div class="wrapper">
        <div class="custom-header">
            <span class="star">&#9733;</span> !!!!!!!!!!!!!חדש אצלנו שירות ייעוץ אישי ומקצועי
        </div>
        <div class="link_img">
            <button class="btn btn-primary d-lg-none d-block" id="btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                ☰
            </button>
            <div class="img" dir="ltr"></div>
            <app-menu></app-menu>

        </div>
    </div>
</div><div class="header-placeholder"></div>