body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header-placeholder {
  height: 150px; 
}

.header {
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  margin-top: 0px;
  z-index: 1000;
  margin: 0;
  padding: 0;
  background-color: white;
}
.wrapper{
  background-color: #ffffff;
  margin-top: 0px;
  margin: 0;
  padding: 0;
}

.custom-header {
  background-color: #FFD700;
  text-align: center;
  padding: 0.8vh 0vh 0.8vh 0vh;
  border-radius: 20vh;
  margin: 0vh 5%;
  color: white;
  font-weight: 700;

}

.custom-header span {
  color: #D91C5C;
  font-size: 20px;
}

.link_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_img .text {
  flex-grow: 1;
  text-align: right;
}

.img {
  display: block;
  height: 80px;
  width: 60px;
  background-image: url('../../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

}

#btn {
  color: #FFD700;
  background-color: #e44077;
  border-color: #000000;
  position: absolute;
  right: 25px;
  transform: translateY(-50%);
  bottom: 0;
}

@media (max-width: 470px) {
  .custom-header {
    font-size: 14px;
  }

  .star {
    display: inline-block;
    transform: scale(0.8);
  }

}

@media (max-width: 400px) {
  .custom-header {
    font-size: 13px;

  }

  .star {
    display: inline-block;
    transform: scale(0.6);
  }

}

@media (max-width: 360px) {
  .custom-header {
    font-size: 11px;

  }

  .star {
    display: inline-block;
    transform: scale(0.6);
  }

}