<div class="container">
    <div class="header">
        <div class="title-section">
            <div id="main-title">?מנויה</div>
            <div id="subtitle">!הטבות כושר אישית לבריאות</div>
        </div>
        <div class="content-wrapper">
            <div class="row">
                <div class="image-wrapper">
                    <img class="image" src="../../../../assets/images/s2.png" alt="Image">
                </div>
                <div class="item-list" *ngFor="let po of s.contentSections">
                    <div *ngIf="po.viewInHP">
                        <div class="cardd">
                            <p *ngIf="po.section3" class="card-title">{{po.section3}}</p>
                            <p class="card-description">{{po.section1}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="down">
                <div class="down-text">להצטרפות למנוי</div>
                <div class="outer-icon">
                    <div type="button" class="circleDown"></div>
                    <div class="pi pi-arrow-down-left"></div>
                </div>
            </div> 
        </div>
    </div>
</div>