html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#subscriptionBenefitsContainer {
    margin-top: 2%;
}

.subscriptionImage {
    background-image: url('../../../assets/images/s1.png');
    position: absolute;
    width: 52%;
    height: 55%;
    left: 35%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.benefitsRectangle {
    position: absolute;
    width: 20%;
    height: 55%;
    left: 11.5%;
    background: #4C4C49;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    padding-right: 3%;
    padding-top: 8.5%;
}

.benefitsRectangleText {
    width: 100%;
    font-family: 'Anomalia ML v2 AAA', sans-serif;
    font-weight: 600;
    font-size: 500%;
    line-height: 90%;
    color: #FFFFFF;
    direction: rtl;
    text-align: right;
}

.subscriptionText {
    position: absolute;
    width: 50%;
    height: 4%;
    left: 31.2%;
    margin-top: 33%;
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 700;
    font-size: 2.6vw;
    line-height: 2.8vw;
    display: flex;
    align-items: center;
    color: #4C4C49;
}

.optionList {
    float: left;
    flex: 0 45%;
    width: 90%;
    margin-left: -12%;
}

#contentSectionsContainer {
    margin-left: 20%;
    display: flex;
    gap: 10px;
    padding-top: 38%;
}

.contentBox {
    width: 70%;
    height: 200%;
    border-radius: 60px;
    padding-top: 15%;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 15%;
    background: rgba(255, 246, 212, 0.8);
}

.contentBoxText1 {
    width: 100%;
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 600;
    font-size: 170%;
    line-height: 140%;
    text-align: center;
    color: #000000;
}

.contentBoxText2 {
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 600;
    font-size: 170%;
    line-height: 140%;
    text-align: center;
    color: #FFCC0F;
}

@media (max-width: 1200px) {
    .subscriptionImage {
        height: 43%;
    }

    .benefitsRectangle {
        height: 43%;
    }

    .contentBoxText1 {
        font-size: 130%;
        width: 95%;
    }

    .contentBoxText2 {
        font-size: 130%;
        width: 95%;
    }

    .benefitsRectangleText {
        font-size: 390%;
        width: 95%;
    }

    .subscriptionText {
        margin-top: 30%;
    }
}

@media (max-width: 992px) {
    .subscriptionImage {
        height: 37%;
    }

    .benefitsRectangle {
        height: 37%;
        border-radius: 40px;
    }

    .contentBox {
        border-radius: 40px;
    }

    .contentBoxText1 {
        font-size: 100%;
        width: 90%;
    }

    .contentBoxText2 {
        font-size: 100%;
        width: 90%;
    }

    .benefitsRectangleText {
        font-size: 290%;
        width: 90%;
    }

    .subscriptionText {
        margin-top: 28%;
    }
}

@media (max-width: 768px) {
    .subscriptionImage {
        height: 26%;
    }

    .benefitsRectangle {
        height: 26%;
        border-radius: 30px;
    }

    .contentBox {
        border-radius: 30px;
        width: 90%;
        padding: 5%;
    }

    #contentSectionsContainer {
        margin-left: 30%;
        display: block;
    }

    .optionList {
        margin-top: 8%;
    }

    .contentBoxText1 {
        font-size: 90%;
        width: 95%;
    }

    .contentBoxText2 {
        font-size: 90%;
        width: 95%;
    }

    .benefitsRectangleText {
        font-size: 240%;
        width: 90%;
    }

    .subscriptionText {
        margin-top: 36%;
    }
}
