<div class="container">
  <div class="registrationHeader">
    <div class="registration">
      <p class="registration-text">להרשמה</p>
    </div>
    <div class="registration-image"></div>
  </div>

  <form [formGroup]="form" class="form" (ngSubmit)="customerRegistration()">
    <div class="first_inputs col-12">
      <div class="input-block">
        <input
          class="half-width"
          type="text"
          formControlName="fullName"
          placeholder="שם מלא"
          required
        />
        <mat-error
          *ngIf="
            form.get('fullName')?.hasError('required') &&
            form.get('fullName')?.touched
          "
        >
          *שדה חובה</mat-error
        >
      </div>
      <div class="input-block">
        <input
          class="half-width"
          type="text"
          formControlName="ID"
          placeholder="מספר זהות"
          required
        />
        <mat-error
          *ngIf="
            form.get('ID')?.hasError('required') && form.get('ID')?.touched
          "
        >
          *שדה חובה</mat-error
        >
        <mat-error *ngIf="form.get('ID')?.hasError('invalidId')"
          >מספר זהות לא תקין</mat-error
        >
      </div>
    </div>

    <div class="selects col-12">
      <div class="select">
        <p-dropdown
          formControlName="subscriptionType"
          [options]="mapDataForSelects(subscriptionTypes)"
          required
          placeholder="מנוי"
        />
        <div
          (click)="navigateTo('SubscriptionBenefits')"
          class="button-text col-4"
        >
          מנויים
        </div>
        <a
          class="button-ref"
          (click)="navigateTo('SubscriptionBenefits')"
          routerLinkActive="active"
        ></a>
      </div>
      <mat-error
        *ngIf="
          form.get('subscriptionType')?.hasError('required') &&
          form.get('subscriptionType')?.touched
        "
      >
        *שדה חובה</mat-error
      >

      <div class="select">
        <p-dropdown
          formControlName="customerType"
          [options]="mapDataForSelects(customerTypes)"
          placeholder="קבוצה"
        />
        <div (click)="navigateTo('')" class="button-text col-4">אימונים</div>
        <a
          class="button-ref"
          (click)="navigateTo('')"
          routerLinkActive="active"
        ></a>
      </div>
      <mat-error
      *ngIf="
        form.get('customerType')?.hasError('required') &&
        form.get('customerType')?.touched
      "
    >
      *שדה חובה</mat-error
    >

      <div class="select">
        <p-dropdown
          formControlName="paymentOption"
          [options]="mapDataForSelects(paymentOptions)"
          required
          placeholder="תשלום"
        />
        <div (click)="navigateTo('payment-options')" class="button-text col-4">
          תשלומים
        </div>
        <a
          class="button-ref"
          (click)="navigateTo('payment-options')"
          routerLinkActive="active"
        ></a>
      </div>
      <mat-error
        *ngIf="
          form.get('paymentOption')?.hasError('required') &&
          form.get('paymentOption')?.touched
        "
      >
        *שדה חובה</mat-error
      >

      <div class="select">
        <p-dropdown
          formControlName="hmo"
          [options]="mapDataForSelects(HMOs)"
          placeholder="קופת חולים"
        />
        <div (click)="navigateTo('HMOs')" class="button-text col-4">
          נספח לקופ"ח
        </div>
        <a
          class="button-ref"
          (click)="navigateTo('HMOs')"
          routerLinkActive="active"
        ></a>
      </div>
    </div>

    <div class="wrap-form col-12">
      <div class="inputs">
        <input
          class="col-12"
          type="text"
          matInput
          [matAutocomplete]="cityAuto"
          formControlName="city"
          placeholder="עיר"
        />
        <mat-autocomplete #cityAuto="matAutocomplete">
          <mat-option
            *ngFor="let city of filteredCities | async"
            [value]="city"
          >
            {{ city }}
          </mat-option>
        </mat-autocomplete>

        <input
          class="col-12"
          type="text"
          matInput
          [matAutocomplete]="streetAuto"
          formControlName="street"
          placeholder="רחוב"
        />
        <mat-autocomplete #streetAuto="matAutocomplete">
          <mat-option
            *ngFor="let street of filteredStreets | async"
            [value]="street"
          >
            {{ street }}
          </mat-option>
        </mat-autocomplete>

        <input
          class="col-12"
          type="tel"
          formControlName="phone"
          pattern="^0[2-9]\d{7}$|^05\d{8}$|^077\d{7}$"
          placeholder="טלפון"
          required
        />

        <mat-error
          *ngIf="
            form.get('phone')?.hasError('required') &&
            form.get('phone')?.touched
          "
        >
          *שדה חובה</mat-error
        >
        <mat-error *ngIf="form.get('phone')?.hasError('pattern')"
          >מספר טלפון לא תקין</mat-error
        >

        <input
          class="col-12"
          type="email"
          matInput
          formControlName="email"
          placeholder="מייל"
          [matAutocomplete]="emailAuto"
          required
        />
        <mat-autocomplete #emailAuto="matAutocomplete">
          <mat-option
            *ngFor="let email of filteredEmails | async"
            [value]="email"
          >
            {{ email }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="
            form.get('email')?.hasError('required') &&
            form.get('email')?.touched
          "
        >
          *שדה חובה</mat-error
        >
        <mat-error *ngIf="form.get('email')?.hasError('email')"
          >כתובת המייל אינה תקינה</mat-error
        >
      </div>
    </div>

    <div class="sumbit">
      <div class="sumbit-text col-2">שלח</div>
      <button mat-raised-button class="sumbit-button" type="submit"></button>
    </div>
  </form>
</div>
