
<div class="title">הצוות שלנו</div>
<div class="team-member-container">
    <div class="team-member-1">
        <svg width="61" height="54" viewBox="0 0 61 54" fill="none" xmlns="http://www.w3.org/2000/svg" class='icon-team-member'>
            <ellipse cx="37.2373" cy="45.8082" rx="23.1757" ry="3.97654" transform="rotate(-8.21817 37.2373 45.8082)" fill="#FAF6F3" fill-opacity="0.8"/>
            <circle cx="25.8239" cy="25.0211" r="24.8279" transform="rotate(0.44755 25.8239 25.0211)" fill="#D91C5C"/>
            <path opacity="0.5" d="M13.7501 14.6272C16.6185 17.9191 26.4787 20.8112 32.9534 11.7242" stroke="#FAF6F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M16.7905 10.1423C17.6463 11.2839 19.794 12.7643 21.5385 9.55273" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M24.9021 8.65845C25.8914 9.68651 28.2044 10.8923 29.542 7.4911" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.9619 45.8237C42.8401 44.9293 47.408 21.2603 45.3221 9.48297C54.8174 21.9654 49.6218 34.0864 46.7234 39.2008C32.5649 55.4215 19.1487 49.3271 11.9619 45.8237Z" fill="#990F27" fill-opacity="0.62"/>
            </svg> 
            <div class="team-member-title-plus-description">
        <div class="team-member-title">פני אורוביץ</div>
        <div class="team-member-description">
            מייסדת המכון ומנהלת הפעילות.<br>
            מובילה קבוצות ריצה וכושר ומלווה יחידים להשגת מטרות אישיות.
        </div>
    </div>
        <div class="team-member-d">
            תחתי את החוגים לפני 5 שנים מתוך אמונה שכושר חוץ מזה שהוא חשוב ולפעמים אפילו קריטי מבחינה בריאותית ותפקודית , הוא יכול וצריך להיות כייף , ומהנה ומשחרר , 
ולא משהו שעושים אותו בליית בררה רק כי חייבים , כדי שכל אחת באמת תרגיש ככה ולא רק אני(: בניתי מערכת מגוונת שכל אחת תמצא את מה שמתאים לה, השיעורים מועברים באווירה נעימה ומקצועית וישנו דגש מיוחד על התקדמות
וסיפוק אישי לכל מתאמנת , בקיצור כיף גדול.....תנסי ותראי...."
        </div>
    </div>
    <div class="team-member-2">
        <svg width="61" height="54" viewBox="0 0 61 54" fill="none" xmlns="http://www.w3.org/2000/svg" class='icon-team-member'>
            <ellipse cx="37.2373" cy="45.8082" rx="23.1757" ry="3.97654" transform="rotate(-8.21817 37.2373 45.8082)" fill="#FAF6F3" fill-opacity="0.8"/>
            <circle cx="25.8239" cy="25.0211" r="24.8279" transform="rotate(0.44755 25.8239 25.0211)" fill="#D91C5C"/>
            <path opacity="0.5" d="M13.7501 14.6272C16.6185 17.9191 26.4787 20.8112 32.9534 11.7242" stroke="#FAF6F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M16.7905 10.1423C17.6463 11.2839 19.794 12.7643 21.5385 9.55273" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M24.9021 8.65845C25.8914 9.68651 28.2044 10.8923 29.542 7.4911" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.9619 45.8237C42.8401 44.9293 47.408 21.2603 45.3221 9.48297C54.8174 21.9654 49.6218 34.0864 46.7234 39.2008C32.5649 55.4215 19.1487 49.3271 11.9619 45.8237Z" fill="#990F27" fill-opacity="0.62"/>
            </svg> 
            <div class="team-member-title-plus-description">
        <div class="team-member-title">דבורה אלטובסקי</div>
        <div class="team-member-description">
            מדריכת חדר כושר מוסמכת.<br>
            מתמחה באימון נשים ומלווה לשינוי אורח חיים בריא.
        </div>
    </div>
        <div class="team-member-d">
            תחתי את החוגים לפני 5 שנים מתוך אמונה שכושר חוץ מזה שהוא חשוב ולפעמים אפילו קריטי מבחינה בריאותית ותפקודית , הוא יכול וצריך להיות כייף , ומהנה ומשחרר , 

ולא משהו שעושים אותו בליית בררה רק כי חייבים , כדי שכל אחת באמת תרגיש ככה ולא רק אני(: בניתי מערכת מגוונת שכל אחת תמצא את מה שמתאים לה, השיעורים מועברים באווירה נעימה ומקצועית וישנו דגש מיוחד על התקדמות
וסיפוק אישי לכל מתאמנת , בקיצור כיף גדול.....תנסי ותראי...."
        </div>
    </div>
    <div class="team-member-3">
        <svg width="61" height="54" viewBox="0 0 61 54" fill="none" xmlns="http://www.w3.org/2000/svg" class='icon-team-member'>
            <ellipse cx="37.2373" cy="45.8082" rx="23.1757" ry="3.97654" transform="rotate(-8.21817 37.2373 45.8082)" fill="#FAF6F3" fill-opacity="0.8"/>
            <circle cx="25.8239" cy="25.0211" r="24.8279" transform="rotate(0.44755 25.8239 25.0211)" fill="#D91C5C"/>
            <path opacity="0.5" d="M13.7501 14.6272C16.6185 17.9191 26.4787 20.8112 32.9534 11.7242" stroke="#FAF6F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M16.7905 10.1423C17.6463 11.2839 19.794 12.7643 21.5385 9.55273" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M24.9021 8.65845C25.8914 9.68651 28.2044 10.8923 29.542 7.4911" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.9619 45.8237C42.8401 44.9293 47.408 21.2603 45.3221 9.48297C54.8174 21.9654 49.6218 34.0864 46.7234 39.2008C32.5649 55.4215 19.1487 49.3271 11.9619 45.8237Z" fill="#990F27" fill-opacity="0.62"/>
            </svg> 
            <div class="team-member-title-plus-description">
        <div class="team-member-title">דבורה אלטובסקי</div>
        <div class="team-member-description">
            מדריכת חדר כושר מוסמכת.<br>
            מתמחה באימון נשים ומלווה לשינוי אורח חיים בריא.
        </div>
</div>
        <div class="team-member-d">
            תחתי את החוגים לפני 5 שנים מתוך אמונה שכושר חוץ מזה שהוא חשוב ולפעמים אפילו קריטי מבחינה בריאותית ותפקודית , הוא יכול וצריך להיות כייף , ומהנה ומשחרר , 

ולא משהו שעושים אותו בליית בררה רק כי חייבים , כדי שכל אחת באמת תרגיש ככה ולא רק אני(: בניתי מערכת מגוונת שכל אחת תמצא את מה שמתאים לה, השיעורים מועברים באווירה נעימה ומקצועית וישנו דגש מיוחד על התקדמות
וסיפוק אישי לכל מתאמנת , בקיצור כיף גדול.....תנסי ותראי...."
        </div>
    </div>
    <div class="team-member-4">
        <svg width="61" height="54" viewBox="0 0 61 54" fill="none" xmlns="http://www.w3.org/2000/svg" class='icon-team-member'>
            <ellipse cx="37.2373" cy="45.8082" rx="23.1757" ry="3.97654" transform="rotate(-8.21817 37.2373 45.8082)" fill="#FAF6F3" fill-opacity="0.8"/>
            <circle cx="25.8239" cy="25.0211" r="24.8279" transform="rotate(0.44755 25.8239 25.0211)" fill="#D91C5C"/>
            <path opacity="0.5" d="M13.7501 14.6272C16.6185 17.9191 26.4787 20.8112 32.9534 11.7242" stroke="#FAF6F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M16.7905 10.1423C17.6463 11.2839 19.794 12.7643 21.5385 9.55273" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M24.9021 8.65845C25.8914 9.68651 28.2044 10.8923 29.542 7.4911" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.9619 45.8237C42.8401 44.9293 47.408 21.2603 45.3221 9.48297C54.8174 21.9654 49.6218 34.0864 46.7234 39.2008C32.5649 55.4215 19.1487 49.3271 11.9619 45.8237Z" fill="#990F27" fill-opacity="0.62"/>
            </svg> 
            <div class="team-member-title-plus-description">
        <div class="team-member-title">דבורה אלטובסקי</div>
        <div class="team-member-description">
            מדריכת חדר כושר מוסמכת.<br>
            מתמחה באימון נשים ומלווה לשינוי אורח חיים בריא.
        </div>
    </div>
        <div class="team-member-d">
            תחתי את החוגים לפני 5 שנים מתוך אמונה שכושר חוץ מזה שהוא חשוב ולפעמים אפילו קריטי מבחינה בריאותית ותפקודית , הוא יכול וצריך להיות כייף , ומהנה ומשחרר , 

ולא משהו שעושים אותו בליית בררה רק כי חייבים , כדי שכל אחת באמת תרגיש ככה ולא רק אני(: בניתי מערכת מגוונת שכל אחת תמצא את מה שמתאים לה, השיעורים מועברים באווירה נעימה ומקצועית וישנו דגש מיוחד על התקדמות
וסיפוק אישי לכל מתאמנת , בקיצור כיף גדול.....תנסי ותראי...."
        </div>
    </div>

    <div class="team-member-5">
        <svg width="61" height="54" viewBox="0 0 61 54" fill="none" xmlns="http://www.w3.org/2000/svg" class='icon-team-member'>
            <ellipse cx="37.2373" cy="45.8082" rx="23.1757" ry="3.97654" transform="rotate(-8.21817 37.2373 45.8082)" fill="#FAF6F3" fill-opacity="0.8"/>
            <circle cx="25.8239" cy="25.0211" r="24.8279" transform="rotate(0.44755 25.8239 25.0211)" fill="#D91C5C"/>
            <path opacity="0.5" d="M13.7501 14.6272C16.6185 17.9191 26.4787 20.8112 32.9534 11.7242" stroke="#FAF6F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M16.7905 10.1423C17.6463 11.2839 19.794 12.7643 21.5385 9.55273" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M24.9021 8.65845C25.8914 9.68651 28.2044 10.8923 29.542 7.4911" stroke="#990F27" stroke-opacity="0.62" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.9619 45.8237C42.8401 44.9293 47.408 21.2603 45.3221 9.48297C54.8174 21.9654 49.6218 34.0864 46.7234 39.2008C32.5649 55.4215 19.1487 49.3271 11.9619 45.8237Z" fill="#990F27" fill-opacity="0.62"/>
            </svg> 
            <div class="team-member-title-plus-description">
        <div class="team-member-title">דבורה אלטובסקי</div>
        <div class="team-member-description">
            מדריכת חדר כושר מוסמכת.<br>
            מתמחה באימון נשים ומלווה לשינוי אורח חיים בריא.
        </div>
    </div>
        <div class="team-member-d">
            תחתי את החוגים לפני 5 שנים מתוך אמונה שכושר חוץ מזה שהוא חשוב ולפעמים אפילו קריטי מבחינה בריאותית ותפקודית , הוא יכול וצריך להיות כייף , ומהנה ומשחרר , 

ולא משהו שעושים אותו בליית בררה רק כי חייבים , כדי שכל אחת באמת תרגיש ככה ולא רק אני(: בניתי מערכת מגוונת שכל אחת תמצא את מה שמתאים לה, השיעורים מועברים באווירה נעימה ומקצועית וישנו דגש מיוחד על התקדמות
וסיפוק אישי לכל מתאמנת , בקיצור כיף גדול.....תנסי ותראי...."
        </div>
    </div>

