.personal-form,
.file-form {
    max-width: 600px;
    margin: auto;
    background-color: #faf6f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: right;
    color: #4c4c49;
    display: flex;
    flex-direction: column;
}

.personal-form .form-group,
.file-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.personal-form label,
.file-form label {
    margin-bottom: 5px;
    color: #4c4c49;
}

.form-control {
    text-align: right;
    color: #4c4c49;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


@media (max-width: 768px) {

    .personal-form,
    .file-form {
        padding: 15px;
    }

    .form-control {
        font-size: 13px;
    }


}

@media (max-width: 576px) {

    .personal-form,
    .file-form {
        padding: 10px;
    }

    .form-control {
        font-size: 12px;
        padding: 8px;
    }


}

#button-icon {
    border: 2px solid #000000;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin: 3px;
    padding: 7px;
    color: #d91c5c;
    transition: box-shadow 0.2s;
}

#button-icon:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.file-input-hidden {
    display: none;
}

.error-massege {
    color: rgb(213, 14, 14);
    font-size: smaller;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

.file-preview {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    cursor: pointer;
}

#pdf-preview-icon,
#image-preview-icon {
    font-size: 50px;
    color: #d91c5c;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

#pdf-preview-icon:hover,
#image-preview-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.custom-select {
    width: 100%;
    border-radius: 4px;
    border: 2px solid #d91c5c;
    padding: 10px;
    background-color: #faf6f3;
    color: #4c4c49;
    font-size: 14px;
}

.custom-select:focus {
    border-color: #ffcc0f;
    outline: none;
    background-color: #fff;
}

.custom-select option {
    background-color: #faf6f3;
    color: #4c4c49;
}

.custom-select option:focus {
    background-color: #ffcc0f;
    color: #4c4c49;
}



.custom-dropdown {
    width: 100%;
}

.p-dropdown {
    border-radius: 4px;
}

.p-dropdown .p-dropdown-label {
    background-color: #faf6f3;
    color: #4c4c49;
    padding: 10px;
}

.p-dropdown .p-dropdown-trigger {
    background-color: #d91c5c;
    color: #faf6f3;
}

.p-dropdown .p-dropdown-items {
    background-color: #faf6f3;
    color: #4c4c49;
}

.p-dropdown .p-dropdown-item:hover {
    background-color: #ffcc0f;
    color: #4c4c49;
}

.uploaded-file-name {
    margin-left: 10px;
    font-size: 14px;
    color: #4c4c49;
}