<!-- <form [formGroup]="personalForm" (ngSubmit)="onSubmitPersonalForm()" class="personal-form">
  <div class="form-group">
    <label for="HMOCode">קופת חולים</label>
    <select id="HMOCode" formControlName="HMOCode" class="form-control custom-select">
      <option value="" disabled selected>בחר קופת חולים</option>
      <option *ngFor="let hmo of hmoOptions" [value]="hmo.code">{{ hmo.name }}</option>
    </select>
    <mat-error *ngIf="personalForm.get('HMOCode')?.touched && personalForm.get('HMOCode')?.hasError('required')"
      class="error-massege">
      שדה חובה *
    </mat-error>
  </div>

  <div class="form-group">
    <label for="freefitCode">קוד פריפיט</label>
    <input id="freefitCode" formControlName="freefitCode" pInputText class="form-control" />
    <mat-error *ngIf="personalForm.get('freefitCode')?.touched && personalForm.get('freefitCode')?.hasError('required')"
      class="error-massege">
      שדה חובה *
    </mat-error>
  </div>

  <div *ngIf="!fileExists" class="form-group">
    <label for="registrationForm">העלאת טופס רישום</label>
    <div class="file-upload-wrapper">
      <input id="registrationForm" type="file" (change)="onFileChange($event)" class="file-input-hidden" />
      <i class="pi pi-upload" id="button-icon" (click)="triggerFileInput()"></i>
      <div *ngIf="uploadedFileName" class="uploaded-file-name">
        <span>{{ uploadedFileName }}</span>
      </div>

    </div>
  </div>

  <div *ngIf="fileExists">
    <div *ngIf="isImage">
      <i class="pi pi-image" id="image-preview-icon" (click)="openFileInNewTab()"></i>
    </div>
    <div *ngIf="isPDF">
      <i class="pi pi-file-pdf" id="pdf-preview-icon" (click)="openFileInNewTab()"></i>
    </div>
    <i class="pi pi-download pointer" id="button-icon" (click)="onDownloadFile()"></i>
    <i class="pi pi-trash pointer" id="button-icon" (click)="onDeleteFile()"></i>
  </div>
  <i class="pi pi-save" id="button-icon" (click)="onSubmitPersonalForm()"
    [ngClass]="{'disabled': personalForm.invalid, 'pointer': !personalForm.invalid}"></i>
</form> -->

<form [formGroup]="personalForm" (ngSubmit)="onSubmitPersonalForm()" class="personal-form">
  <div class="form-group">
    <label for="HMOCode">קופת חולים</label>
    <select id="HMOCode" formControlName="HMOCode" class="form-control custom-select">
      <option value="" disabled selected>בחר קופת חולים</option>
      <option *ngFor="let hmo of hmoOptions" [value]="hmo.code">{{ hmo.name }}</option>
    </select>
    <mat-error *ngIf="personalForm.get('HMOCode')?.touched && personalForm.get('HMOCode')?.hasError('required')"
      class="error-massege">
      שדה חובה *
    </mat-error>
  </div>

  <div class="form-group">
    <label for="freefitCode">קוד פריפיט</label>
    <input id="freefitCode" formControlName="freefitCode" pInputText class="form-control" />
    <mat-error *ngIf="personalForm.get('freefitCode')?.touched && personalForm.get('freefitCode')?.hasError('required')"
      class="error-massege">
      שדה חובה *
    </mat-error>
  </div>

  <div *ngIf="!fileExists" class="form-group">
    <label for="registrationForm">העלאת טופס רישום</label>
    <div class="file-upload-wrapper">
      <input id="registrationForm" type="file" (change)="onFileChange($event)" class="file-input-hidden" />
      <i class="pi pi-upload" id="button-icon" (click)="triggerFileInput()"></i>
      <div *ngIf="uploadedFileName" class="uploaded-file-name">
        <span>{{ uploadedFileName }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="fileExists">
    <div *ngIf="isImage">
      <i class="pi pi-image" id="image-preview-icon" (click)="openFileInNewTab()"></i>
    </div>
    <div *ngIf="isPDF">
      <i class="pi pi-file-pdf" id="pdf-preview-icon" (click)="openFileInNewTab()"></i>
    </div>
    <i class="pi pi-download pointer" id="button-icon" (click)="onDownloadFile()"></i>
    <i class="pi pi-trash pointer" id="button-icon" (click)="onDeleteFile()"></i>
  </div>

  <i class="pi pi-save" id="button-icon" (click)="onSubmitPersonalForm()"
    [ngClass]="{'disabled': (personalForm.invalid||( !isFormDirty && !fileChanged)), 'pointer': !personalForm.invalid}"></i>
</form>
