.offcanvas-header {
  background-color: #FFD700;
}

.offcanvas-title {
  color: #D91C5C;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: 500;
  margin: 0 20px;
  background-color: white;
  border: none;
  font-size: small;
}

.navbar-nav .nav-link:hover {
  color: #FFD700;
  border: none;
  background-color: white;
}

.navbar-nav .nav-link.active {
  color: #FFD700;
  background-color: white;
  
}

#nav_row {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-end;
  direction: rtl;
  width: 100%;
  padding: 0;
  margin: 0;
}

#nav_row .fixed-login {
  position: fixed;
  left: 80px;
}

.btn-close {
  border: none;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
}

#offcanvasNavbar {
  direction: rtl;
  width: 300px;
}

#offcanvasNavbarLabel {
  margin-left: 180px;
}

:host {
  ::ng-deep .p-menubar {
    background-color: #ffffff;
    border: 0px solid #dee2e6;
    border-radius: 0px;

    .p-component {
      border: none;
    }

    .p-menuitem-content {
      background-color: #ffffff00;
      height: 30px;
      line-height: 30px;
      margin-right: 20px;
    }

    .p-menubar-start {
      height: 30px;
      line-height: 15px;
    }

    .p-component-end {
      left: 0px;
      margin-left: auto;
    }
  }
}

@media (max-width: 1400px) {
  #nav_row .fixed-login {
    margin-right: 80px;
  }
}

@media (max-width: 1150px) {
  .navbar-nav .nav-link {
    font-size: 14px;
  }

  #nav_row .fixed-login {
    margin-right: 10px;
  }

  .navbar-nav .nav-link {
    margin: 0 10px;
    font-size: small;
  }
}

@media (max-width: 1100px) {
  .navbar-nav .nav-link {
    font-size: 12px;
  }
}